h1{
    color: rgb(42, 154, 117);

}

#bemvindo{
    color: rgb(75, 87, 88);
}
body{
    background-color: rgb(132, 183, 166);
}

.titulo-clinica{
    color: rgb(44, 90, 73);
}
.AVISO{
    color: rgb(28, 78, 62);
}